<%- include("partials/header"); -%>

<h1>Home</h1>
<p><%=homeStartingContentTemplate%></p>
<%templatePosts.forEach(function(templatePost){%>
  <h1><%=templatePost.title%></h1>
  <p><%=templatePost.content.substring(0,10)+"..."%><a href="/posts/<%=templatePost.title%>">Read More</a></p>
<%});%>

<%- include("partials/footer"); -%>
